pipeline/pl_ExecuteDataFlow_copy1.json
{
	"name": "pl_ExecuteDataFlow_copy1",
	"properties": {
		"activities": [
			{
				"name": "Get Dataset List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_GetTrustedDbConnection]",
						"storedProcedureParameters": {
							"Environment": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ASQL_GetSetMetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Dataset List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Dataset List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1",
									"type": "DataFlowReference",
									"parameters": {
										"SourceName": {
											"value": "@concat(''',item().SourceName,''')",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source1": {
											"Delimiter": {
												"value": "@item().Delimiter",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "IR-PRIVATE-RUNTIME",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"varSourceName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}